<html>

<body>
    <!-- {{>header}} -->
    <h1>Ad Giants - Dropbox Test</h1>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="9dio8w2grpw0b52"></script>
    <a 
  href="https://www.dropbox.com/sh/02foq8rp9qzjh1c/AADddp_MbfWW7Fcyvm5n6eAka?dl=0" 
  class="dropbox-embed"
  data-height="600px"
  data-width="600px"
></a>

    <!-- {{>footer}} -->
</body>

</html>