<html>

<body>
    {{>header}}
    <h1>This is index page</h1>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="9dio8w2grpw0b52"></script>
    <a 
  href="https://www.dropbox.com/s/1burxdfnow71q27/Amit_Dusane_Resume.doc?dl=0" 
  class="dropbox-embed"
></a>
    {{>footer}}
</body>

</html>